<h1 class= "text-center">Articles</h1>


<%= link_to new_article_path do%>
  <i class="fas fa-pen-fancy"></i>
<%end %>


<h3 class= "mb-5">Here is the list of your <%=@articles.count %> articles : </h3>

<% @articles.each do |article| %>
  <h6> <%= article.title %></h6>
  <div>
    <%= link_to article_path(article.id) do %>
      <i class="far fa-eye"></i>
    <% end %>
    </a>
  </div>
  <p>_____________</p>
<% end %>


