<h1>Articles</h1>


<h3>Here is the list of your <%=@articles.count %> articles : </h3>

<% @articles.each do |article| %>
  <p>Title : </p>
  <%= article.title %>
  <p>_____________</p>
  <a><%= link_to "Read more", article_path(article.id) %></a>
<% end %>


<% console %>
